.main {
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.main h1 {
  font-size: 1.25rem;
  text-align: center;
}

.tasks {
  margin-top: 30px;
}
.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  transition: all .2s;
}
.tasks li:hover {
  background-color: #51c5de;
}
.tasks li:hover .edit,
.tasks li:hover .delete {
  color: #1e1e24;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
}
.tasks li .edit {
  margin-right: 15px;
  color: #51c5de;
}
.tasks li .edit:hover {
  color: #fff;
  transition: .15s;
}

.tasks li .delete {
  color: #f04c64;
}
.tasks li .delete:hover {
  color: #fff;
  transition: .15s;
}

.tasks li span {
  display: flex;
  align-items: center;
}
