.main {
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.main h1 {
  font-size: 1.25rem;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}
.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background-color: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .2s;
}
.form button[type="submit"]:hover {
  background-color: #d43b52;
}

.tasks {
  margin-top: 30px;
}
.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  transition: all .2s;
}
.tasks li:hover {
  background-color: #51c5de;
}
.tasks li:hover .edit,
.tasks li:hover .delete {
  color: #1e1e24;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
}
.tasks li .edit {
  margin-right: 15px;
  color: #51c5de;
}
.tasks li .edit:hover {
  color: #fff;
  transition: .15s;
}

.tasks li .delete {
  color: #f04c64;
}
.tasks li .delete:hover {
  color: #fff;
  transition: .15s;
}
